<div class="card card-body bg-light mb-3">
  <div class="button-group mx-auto small">
    <%= link_to  @bookings_presenter.previous_link, class: 'btn btn-sm btn-primary', remote: true, id: 'previous_week' do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>

    <b>
      <%= link_to 'VER SEMANA ATUAL', @bookings_presenter.current_week_link,
      class: 'btn btn-sm btn-secondary currentWeekButton', remote: true, id: 'current_week' %>
    </b>

    <%= link_to @bookings_presenter.next_link, class: 'btn btn-sm btn-primary text-right', remote: true, id: 'next_week' do %>
      <i class="fas fa-arrow-right"></i>
    <% end %>
  </div>
</div>

<table class="table table-bordered">
  <thead>
    <th>Horário</th>
    <% (@bookings_presenter.beginning_of_week..@bookings_presenter.end_of_week).each do |day| %>
      <th class="text-center">
        <%= I18n.t(day.strftime('%A').downcase, scope: [:date, :day_names]) %>
        <small>(<%= l(day) %>)</small>
      </th>
    <% end %>
  </thead>
  <tbody>
    <% @bookings_presenter.listable_hours.each do |hour| %>
      <tr>
        <td class="text-center"><%= hour %></td>
        <% (@bookings_presenter.beginning_of_week..@bookings_presenter.end_of_week).each_with_index do |day, index| %>
          <% if booking = @bookings_presenter.records.find_by(date: day, time: hour) %>
            <td class="text-center nowrap">
              <%= link_to (raw @bookings_presenter.availability_text(booking)), booking_path(booking),
                  remote: true, class: 'reservedLink', id: "show-#{booking.id}" %>

              <% if can?(:destroy, booking) %>
                <%= link_to booking_path(booking), method: :delete, remote: true, class: 'destroyLink',
                    id: "destroy-#{booking.id}", data: { confirm: 'Tem certeza?' } do %>
                  <span><i class="fas fa-redo"></i></span>
                <% end %>
              <% end %>
            </td>
          <% else %>
            <td class="text-center">
              <%= link_to 'Disponível', new_booking_path(date: day, time: hour), remote: true, class: 'link' %>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
